name: Build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Check formatting
        run: deno fmt --check
      - name: Lint source
        run: deno lint
      - name: Test with coverage output
        run: deno test --doc --coverage=coverage
      - name: Convert coverage details to a report file
        run: deno coverage ./coverage --lcov > coverage.lcov
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        env:
          use_oidc: true
        with:
          files:
            - ./coverage.lcov
